.page {
  margin: 0 auto;
  max-width: 1280px;
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #2A2C2F;
}

@media (max-width: 1024px) {
  .page {
    max-width: 1024;
  }
}

.header {
  margin: 28px auto 0;
  width: 1184px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.header__logo {
  width: 176px;
  height: 52px;
  background-image: url('../images/header-logo.svg');
  background-size: cover;
}

.header__lang-link-ru {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
  text-align: right;
  text-decoration: underline;

}

.header__lang-link-en {
  margin: 0;
  margin-left: 18px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
  text-align: right;
  text-decoration: none;
}

.lead {
  margin: 0 auto;
  width: 984px;
  padding-top: 56px;
}

.lead__title {
  margin: 0 auto;
  width: 720px;
}

.lead__title {
  margin: 0 auto 0;
  width: 720px;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  text-align: center;
  color: #fff;
}

.lead__subtitle {
  margin: 32px auto 0;
  width: 640px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

.lead__image {
  margin: 0;
  margin-top: 64px ;
  width: 100%;
}

.lead__caption {
  margin: 8px 0 0;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}

.intro {
  margin: 0 auto;
  width: 984px;
  padding-top: 92px;
}

.intro__title {
  margin: 0;
  width: 690px;
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
  color: #fff;
}

.intro__text {
  margin: 0;
  width: 690px;
  margin-top: 40px;
  font-size: 16px;
  line-height: 163%;
  font-weight: 400;
  color: #fff;
}

.intro__list {
  margin: 0;
  width: 690px;
  margin-top: 33px;
  list-style-type: none;
  padding-left: 0;
}

.intro__list-item {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  color: #fff;
}

.intro__list-item_data {
  font-weight: 400;
}

.photo-grid {
  margin: 0 auto;
  width: 1184px;
  padding-top: 92px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}

.photo-grid__item {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .photo-grid {
    width: 928px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
  }
}
