.body {
  background-color: #2A2C2F;
}

.page {
  margin: 0 auto;
  max-width: 1280px;
  font-family: 'Inter', 'Arial', sans-serif;
}

@media screen and (max-width: 1024px) {
  .page {
    max-width: 1024px;
  }
}

.header {
  margin: 28px auto 0;
  width: 92.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 90.625%;
  }
}

.header__logo {
  width: 176px;
  height: 52px;
  background-image: url('../images/header-logo.svg');
  background-size: cover;
}

.header__lang {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 18px;
  list-style: none;
}
.header__lang-link {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
  text-align: right;
  text-decoration: none;

}

.header__lang-link:hover {
  opacity: 0.8;
}

.header__lang-link_active {
  text-decoration: underline;
}

.lead {
  margin: 0 auto;
  width: 76.875%;
  padding-top: 56px;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: 90.625%;
    padding-top: 48px;
  }
}

.lead__title {
  margin: 0 auto;
  width: 720px;
}

.lead__title {
  margin: 0 auto 0;
  width: 720px;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  text-align: center;
  color: #fff;
}

.lead__subtitle {
  margin: 32px auto 0;
  width: 640px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

.lead__image {
  margin: 0;
  margin-top: 64px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    margin-top: 56px;
  }
}

.lead__caption {
  margin: 8px 0 0;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}

.intro {
  margin: 0 auto;
  width: 76.875%;
  padding-top: 92px;
}

@media screen and (max-width: 1024px) {
  .intro {
    width: 90.625%;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: 93.75%;
    padding-top: 88px;
  }
}

  @media screen and (max-width: 320px) {
  .intro {
    width: 90%;
    padding-top: 64px;
  }
}

.intro__title {
  margin: 0;
  width: 690px;
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
  color: #fff;
}

.intro__text {
  margin: 0;
  width: 690px;
  margin-top: 40px;
  font-size: 16px;
  line-height: 26px;
  /* line-height: 163%; */
  font-weight: 400;
  color: #fff;
}

.intro__list {
  margin: 0;
  padding: 0;
  width: 690px;
  margin-top: 33px;
  list-style-type: none;
  padding-left: 0;
}

.intro__list-item {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  color: #fff;
}

.intro__list-item_data {
  font-weight: 400;
}

.photo-grid {
  margin: 0 auto;
  width: 92.5%;
  padding-top: 92px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}

.photo-grid__item {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    width: 90.625%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
  }
}

.places {
  margin: 0 auto;
  width: 76.875%;
  padding-top: 92px;
}

@media screen and (max-width: 1024px) {
  .places {
    width: 90.625%;
  }
}
.place {
  width: 100%;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: 1fr 460px;
  column-gap: 40px;
  row-gap: 48px;
  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 456px;
    grid-template-rows: 1fr 440px;
    column-gap: 32px;
  }
}

.place__title {
  margin: 0;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  color: #fff;
}

.place__website {
  align-self: end;
}

.place__url-heading {
  margin: 0;
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #AAAAAA;
}

.place__link {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.place__link:hover {
  opacity: 0.8;
}

.place__image {
  width: 100%;
}

.place__paragraph {
  margin: 0;
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 29px;
  /* line-height: 163%; */
  font-weight: 400;
  color: #FFFFFF;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

.cover {
  margin: 0 auto;
  width: 92.5%;
  padding-top: 92px;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}
.cover__content {
  position: relative;
  width: 100%;
  height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../images/cover-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

@media screen and (max-width: 1024px) {
  .cover__content {
    height: 640px;
  }
}

.cover__content::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #2a2c2f;
  opacity: 0.3;
  z-index: 1;
}

.cover__content:hover::before {
  opacity: 0.8;
}

.cover__link {
  z-index: 1;
  text-decoration: none;
}

.cover__title {
  margin: 0;
  width: 560px;
  height: 152px;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  text-align: center;
  color: #FFFFFF;
}

.cover__subtitle {
  margin: 0;
  margin-top: 32px;
  width: 360px;
  height: 66px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
}

.footer {
  margin: 0 auto;
  width: 92.5%;
  padding-top: 92px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: 90.625%;
  }
}

.footer_links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* align-items: flex-end; */
  gap: 18px;
  list-style: none;
}

.footer__link {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__link:hover {
  opacity: 0.8;
}

.footer__copyright {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #FFFFFF;
}
